html {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(180deg, #84daf5, #89ffff, #affffa, #ffffff);
  }
  body {
    margin 1rem, 5rem
  }

  h1{
    text-align : center;
    text-shadow: 1px 1px 3px grey;
  }

  p, li {
    font-size: 20px
  }

  footer{
    margin: 2rem 0 2rem 0;
    text-align: center;
  }
/* Style the table */
  table{
    border-collapse: collapse;
    width: 100%;
  }
/* Style the table header cells and data cells */
  th,td{
    padding:8px;
    text-align: left;
    border-bottom: 1px solid black;
  }
/* Apply background color to even rows in the table */
  tr:nth-child(even) {
    background-color:aqua
  }
  /* Apply background color to the row when hovering over it */
  tr:hover{
    background-color: gray;
  }

  
.navbar{
  display:flex;
  justify-content: space between;
  align-items: center;
  background-color: #333;
  color: white
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: block;
}

.navbar-links li:hover{
  background-color: #555;
}